.sizeInputContainer {
  display: flex;
  justify-content: space-around;

  .inputContainer {
    display: flex;
    align-items: center;

    .inputNumber {
      display: inline-block;
      color: #fff;
      font-size: 12px;
      line-height: 1.66667;
      background-color: transparent;
      background-image: none;
      transition: all 0.3s;
    }
  }
}
