.topKitBar {
  li {
    width: 40px;
    height: 24px;
    background: rgba(5, 22, 34, 0.3);
    border: 1px solid #07465c;
    border-radius: 1px;

    &:hover {
      background: rgba(17, 95, 113, 0.3);
      border: 1px solid #07465c;
    }

    &:active {
      background: #0095b4;
      border: 1px solid #0095b4;
    }
  }

  .selected {
    background: #0095b4;
    border: 1px solid #0095b4;

    &:hover {
      background: #0095b4;
      border: 1px solid #07465c;
    }
  }
}
