.errorText {
  margin-top: 12px;
  color: #f5222d;
  font-size: 14px;

  .closeBtn {
    margin-right: 8px;
    color: #f5222d !important;
    font-size: 14px;

    &:hover {
      color: #ff7875;
    }
  }
}
