.horizontalRuler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #333;
}

.verticalRuler {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #333;
}
