.mapField {
  width: 100%;
  padding: 5px;
  padding-bottom: 20px;

  .title {
    height: 30px;
    line-height: 30px;
  }

  .row {
    height: 50px;
    background: #1c2026;
    border-bottom: 1px solid #000;
  }

  .col {
    text-align: center;
  }

  .fieldName {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .field {
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #03050a;
    border: 1px solid #383a41;
    border-radius: 5px;
  }

  .status {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
  }

  .success {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    text-align: center;
    background-color: green;
    border-radius: 5px;
  }

  .failed {
    background-color: red;
  }
}
