.IndicatorDetail {
  .contentBox {
    margin-bottom: 16px;
    padding: 6px;
    padding-top: 0;
    background: #03121c;
    border-radius: 2px;
  }

  .title-box {
    // margin-bottom: 10px;
    // display: flex;
    // align-items: center;
  }

  .subTitle {
    color: #77d1d6;
    font-weight: 400;
    font-size: 14px;
  }

  .subText {
    margin-bottom: 12px;
    overflow: hidden;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
