registry=https://packages.aliyun.com/60c2d2ba84be085424a2dbee/npm/npm-registry/
//packages.aliyun.com/60c2d2ba84be085424a2dbee/npm/npm-registry/:_authToken=63a04921-6a06-4cfa-acc5-e417966103d0
always-auth=true