.radioLable {
  font-size: 12px !important;
}

.field {
  align-items: unset;
  width: 100%;
  margin-bottom: 12px;

  .fieldLabel {
    padding-left: 12px;
    font-size: 12px;
    line-height: 24px;
  }

  .antdFieldInput {
    & > div {
      width: 100%;
    }
  }

  .fieldInput {
    padding-right: 16px;
  }
}
