.field {
  margin-bottom: 8px;

  .fieldLabel {
    padding-left: 8px;
    font-size: 12px;
    line-height: 24px;
  }
}

.radioLable {
  font-size: 12px !important;
}

.antdFieldInput {
  & > div {
    width: 100%;
  }
}

.fieldInput {
  padding-right: 16px;
}

.groupIdPopup {
  :global {
    .ant-select-tree-list-holder > div {
      overflow: unset !important;
    }
  }
}
