.listenListWrap {
  padding: 5px;

  .listenContainer {
    margin-bottom: 5px;
    padding: 12px 23px 12px;
    color: rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.1);

    .delListenItemBtn {
      text-align: right;
    }

    .listenValueRow {
      margin-top: 8px;

      .input {
        width: 196px;
      }

      .radioLable {
        font-size: 12px !important;
      }
    }
  }

  & > .listenItemAddBtn {
    width: 306px !important;
    height: 30px !important;
    margin: 15px;
    margin-top: 5px !important;
    background: rgba(20, 81, 122, 0.5) !important;
    border: 1px solid rgba(26, 114, 166, 1) !important;
  }
}
