.fontManager {
  .field {
    align-items: unset;
    width: 100%;
    margin: 14px 0;

    .fieldLabel {
      // padding-left: 12px;
      font-size: 12px;
      line-height: 24px;
    }

    .fieldValue {
      & * {
        font-size: 12px;
      }
      padding-right: 16px;
    }

    .antdFieldInput {
      & > div {
        width: 100%;
      }
    }

    .fieldInput {
      & > * {
        height: 24px;
        font-size: 12px;
      }
      padding-right: 16px;
    }
  }

  .copyright {
    p {
      margin: 10px 0;
      line-height: 20px;
    }
  }
}
