.mapTableContainer {
  padding: 0 10px;

  :global {
    .ant-table-wrapper {
      width: 329px;

      .ant-table-cell {
        background: rgba(20, 20, 20, 1) !important;
        border-radius: 0 !important;
      }
    }
  }
}
