:global {
  .animtaion-trigger-rule {
    .CodeMirror {
      height: 100px;
    }

    .function-rule {
      min-height: 22px;
      padding: 6px 0 6px 10px;
      color: #fff;
      white-space: pre;
      background: #263238;
      border-right-width: 24px;
    }
  }

  .animation-steps {
    .ant-collapse-content {
      background-color: #222533;
    }

    &.ant-collapse .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
      padding: 16px 16px 0 16px;
      color: #fff;
    }

    .ant-input-number {
      width: 100%;
    }
  }
}
