:global {
  .image-edit {
    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
      background: #062236;
      border: 1px solid #263246;

      &.ant-tabs-tab-active {
        background: #3fb5d2;

        .ant-tabs-tab-btn {
          color: #fff;
        }
      }

      &:hover {
        background: #3fb5d2;

        .ant-tabs-tab-btn {
          color: #fff;
        }
      }
    }

    .ant-tabs-top > .ant-tabs-nav::before {
      border-bottom: 1px solid #263246;
    }

    .ant-modal-body {
      .ant-row {
        .ant-legacy-form-explain {
          color: red;
        }
      }
    }
  }
}
