:global {
  .oss-table {
    height: calc(100vh - 230px);
    overflow: auto;

    .ant-table-wrapper .ant-table .ant-table-thead > tr > th {
      height: 40px;
      background: #093059 !important;
    }
  }
}
