:global {
  .publish-modal {
    .ant-legacy-form-item-control {
      .ant-legacy-form-item-children {
        display: flex;
        align-items: center;
      }
    }
  }

  .manager-loading {
    position: fixed;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
}
