/** 特殊字体库 */
@font-face {
  font-family: siyuan; /* 这里是说明调用来的字体名字 */
  //src: url('./libs/font/NotoSansCJK-Bold.otf'); /*这里是字体文件路径*/
  src: url('/libs/font/NotoSansCJK-Bold-common.ttf');
}
@font-face {
  font-family: alibaba; /* 这里是说明调用来的字体名字 */
  src: url('/libs/font/alibaba.ttf'); /* 这里是字体文件路径 */
}
@font-face {
  font-family: huxiaobo; /* 这里是说明调用来的字体名字 */
  src: url('/libs/font/huxiaobo.otf'); /* 这里是字体文件路径 */
}
@font-face {
  font-family: yousebiaozhunhei; /* 这里是说明调用来的字体名字 */
  src: url('/libs/font/yousebiaozhunhei.ttf'); /* 这里是字体文件路径 */
}

@font-face {
  font-family: alibabapushiti; /* 阿里巴巴普惠体H */
  src: url('/libs/font/alibabapushiti.ttf'); /* 这里是字体文件路径 */
}
@font-face {
  font-family: digital; /* 液晶数字 */
  src: url('/libs/font/digital-7.ttf'); /* 这里是字体文件路径 */
}
@font-face {
  font-family: zaozigongfang; /* 造字工房版黑常规体 */
  src: url('/libs/font/zaozigongfang.ttf'); /* 这里是字体文件路径 */
}
@font-face {
  font-family: din; /* DIN */
  src: url('/libs/font/DINAlternateBold.ttf'); /* 这里是字体文件路径 */
}
@font-face {
  font-family: pangmenzhengdao; /* 庞门正道标题体2.0增强版 */
  src: url('/libs/font/pangmenzhengdao.ttf'); /* 这里是字体文件路径 */
}
