.antd-dark {
  // @import 'antd/dist/antd.dark.less'; // 引入官方提供的暗色 less 样式入口文件
  // @import 'antd/dist/antd.compact.less'; // 引入官方提供的紧凑 less 样式入口文件

  @primary-color: #3fb5d2; // 全局主色
  @link-color: #3fb5d2; // 链接色
  @success-color: #3fb5d2; // 成功色
  @warning-color: #faad14; // 警告色
  @error-color: #f5222d; // 错误色
  @font-size-base: 14px; // 主字号
  @heading-color: #fff; // 标题色
  @text-color: #fff; // 主文本色
  @text-color-secondary: #fff; // 次文本色
  @disabled-color: #fff; // 失效色
  @border-radius-base: 1px; // 组件/浮层圆角
  @border-color-base: #383a41; // 边框色
  @box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05); // 浮层阴影

  .ant-table-tbody > tr.ant-table-placeholder:hover > td {
    background: #262626;
  }

  .ant-select-single {
    .ant-select-selector {
      background-color: transparent;
      border: 1px solid #383a41;
    }
  }
}
