* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  border: none;
}

::-webkit-scrollbar-track {
  background: 0 0;
}
