:global {
  .disbale {
    user-select: none;
  }

  .drag-container {
    .rect-line {
      display: none;
    }

    &.group {
      &.active {
        z-index: 99999 !important; // v7.6.0支持选中路径组最高层级

        & > .rect-line {
          display: block;

          .caliper-line {
            display: none;
          }
        }

        & > .dragger-real-container {
          pointer-events: inherit;

          & > .change {
            z-index: 99999 !important;

            & > .rect-line {
              display: block;
            }
          }
        }
      }

      &.change {
        z-index: 99999 !important;

        & > .dragger-real-container {
          pointer-events: initial;

          & > .drag-container {
            & > .rect-line {
              display: block;

              .caliper-line {
                display: none;
              }

              .dragger-line {
                width: 0;
                height: 0;
                background-color: transparent;

                &.top {
                  border-top: 1px dashed #3fb5d2;
                }

                &.left {
                  border-left: 1px dashed #3fb5d2;
                }

                &.right {
                  border-right: 1px dashed #3fb5d2;
                }

                &.bottom {
                  border-bottom: 1px dashed #3fb5d2;
                }
              }
            }
          }
        }
      }

      .drag-container {
        .rect-line {
          display: none;
        }
      }
    }

    &.active-dynamic-panel {
      box-shadow: 0 0 5px #3fb5d2;

      &.active {
        pointer-events: inherit;

        & > .rect-line {
          display: block;

          .caliper-line {
            display: none;
          }
        }

        .dragger-real-container {
          pointer-events: inherit;

          .drag-container {
            &.change {
              pointer-events: inherit;
            }

            .com-container {
              pointer-events: none;
            }
          }

          .ref-component {
            pointer-events: none;
          }

          & > .com-container > .change {
            z-index: 99999 !important;

            & > .rect-line {
              display: block;
            }
          }
        }
      }

      &.change {
        z-index: 99999 !important;

        & > .dragger-real-container {
          pointer-events: initial;

          .drag-container {
            & > .rect-line {
              display: block;

              .caliper-line {
                display: none;
              }

              .dragger-line {
                width: 0;
                height: 0;
                background-color: transparent;

                &.top {
                  border-top: 1px dashed #3fb5d2;
                }

                &.left {
                  border-left: 1px dashed #3fb5d2;
                }

                &.right {
                  border-right: 1px dashed #3fb5d2;
                }

                &.bottom {
                  border-bottom: 1px dashed #3fb5d2;
                }
              }
            }
          }
        }
      }

      .drag-container {
        &.active > .rect-line {
          display: block;
        }
      }
    }

    &.change {
      z-index: 99999 !important;

      & > .rect-line {
        display: block !important;
      }
    }

    &:hover {
      & > .rect-line {
        display: block;
      }

      // v8.0 多页面加了图层 dom 层后，非当前图层加锁改为自动显示
      // & > .dragger-real-container > .component-locked {
      //   display: block;
      // }
    }
  }

  .react-grid-item {
    &:not(.editing) {
      &:hover {
        .rect-line {
          // display: none;
        }
      }
    }
  }

  .component-locked {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: rgba(211, 93, 15, 0.3);
    visibility: hidden;
  }

  .ref-component {
    width: 100%;
    height: 100%;
    overflow: hidden;

    &.yl-comp {
      user-select: none;
    }
  }
}
