:global {
  .hook-script {
    .ant-tabs {
      background: #1e1e1e;

      .ant-tabs-tab-btn:focus,
      .ant-tabs-tab-btn:active {
        color: #fff;
      }

      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #1677ff !important;
      }
    }

    .ant-tabs-tab-remove {
      color: #fff;

      &:hover {
        color: #40a9ff;
      }
    }

    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
      background: #1e1e1e;
      border-color: #383a41;
    }

    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-add,
    .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add {
      color: #fff;
      background: #1e1e1e;
      border-color: #383a41;
    }

    .ant-tabs-nav-wrap {
      background: #1e1e1e;

      .ant-tabs-nav-list {
        .ant-tabs-nav-add {
          background: #1e1e1e;
          border-color: #1e1e1e;
        }
      }
    }

    .js-edit {
      min-width: 100vw;
      max-width: 100vw;
      min-height: calc(100vh - 56px);
      max-height: calc(100vh - 56px);
    }
  }
}
