.shortcutKey-box {
  margin-right: 10px;

  .keyboard-img {
    width: 80px;
    cursor: pointer;
  }
}

:global {
  .ant-drawer-wrapper-body {
    // background: rgba(21,27,38,0.8);
    .ant-drawer-header,
    .ant-drawer-body {
      background: #17181a;
    }

    .ant-drawer-body {
      padding-top: 0;
    }

    .ant-drawer-title {
      color: #fff;
    }

    .shortcutKey-box-title {
      margin-bottom: 12px;
      color: #fff;
      font-size: 14px;
      font-family: MicrosoftYaHei, Semibold, sans-serif;
    }

    .canvas-ul {
      margin-top: 16px;
    }

    .shortcutKey-box-ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;

      .key-label {
        color: #accde2;
        font-weight: 400;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC, sans-serif;
      }

      .key-value {
        display: flex;
        align-items: center;

        .small-bg {
          width: 28px;
          height: 18px;
          color: #fff;
          font-weight: normal;
          font-size: 10px;
          font-family: Arial-BoldMT, Arial, sans-serif;
          line-height: 18px;
          text-align: center;
          background-image: url('../../../../assets/icon/shortcutKey/small-bg.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
        }

        .min-bg {
          width: 18px;
          height: 18px;
          color: #fff;
          font-weight: normal;
          font-size: 10px;
          font-family: Arial-BoldMT, Arial, sans-serif;
          line-height: 18px;
          text-align: center;
          background-image: url('../../../../assets/icon/shortcutKey/min-bg.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
        }

        .center-bg {
          width: 32px;
          height: 18px;
          color: #fff;
          font-weight: normal;
          font-size: 10px;
          font-family: Arial-BoldMT, Arial, sans-serif;
          line-height: 18px;
          text-align: center;
          background-image: url('../../../../assets/icon/shortcutKey/center-bg.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
        }

        .large-bg {
          width: 64px;
          height: 18px;
          color: #fff;
          font-weight: normal;
          font-size: 10px;
          font-family: Arial-BoldMT, Arial, sans-serif;
          line-height: 18px;
          text-align: center;
          background-image: url('../../../../assets/icon/shortcutKey/large-bg.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
        }

        .mouse-scroll {
          width: 12px;
          height: 18px;
          color: #fff;
          font-weight: normal;
          font-size: 10px;
          font-family: Arial-BoldMT, Arial, sans-serif;
          line-height: 18px;
          text-align: center;
          background-image: url('../../../../assets/icon/shortcutKey/mouse-scroll-bg.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
        }

        .mouse-left {
          width: 12px;
          height: 18px;
          color: #fff;
          font-weight: normal;
          font-size: 10px;
          font-family: Arial-BoldMT, Arial, sans-serif;
          line-height: 18px;
          text-align: center;
          background-image: url('../../../../assets/icon/shortcutKey/mouse-left-bg.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
        }

        .arrow-right-bg {
          width: 18px;
          height: 18px;
          color: #fff;
          font-weight: normal;
          font-size: 10px;
          font-family: Arial-BoldMT, Arial, sans-serif;
          line-height: 18px;
          text-align: center;
          background-image: url('../../../../assets/icon/shortcutKey/arrow-right-bg.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
        }

        .arrow-top-bg {
          width: 18px;
          height: 18px;
          color: #fff;
          font-weight: normal;
          font-size: 10px;
          font-family: Arial-BoldMT, Arial, sans-serif;
          line-height: 18px;
          text-align: center;
          background-image: url('../../../../assets/icon/shortcutKey/arrow-top-bg.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
        }

        .arrow-left-bg {
          width: 18px;
          height: 18px;
          color: #fff;
          font-weight: normal;
          font-size: 10px;
          font-family: Arial-BoldMT, Arial, sans-serif;
          line-height: 18px;
          text-align: center;
          background-image: url('../../../../assets/icon/shortcutKey/arrow-left-bg.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
        }

        .arrow-bottom-bg {
          width: 18px;
          height: 18px;
          color: #fff;
          font-weight: normal;
          font-size: 10px;
          font-family: Arial-BoldMT, Arial, sans-serif;
          line-height: 18px;
          text-align: center;
          background-image: url('../../../../assets/icon/shortcutKey/arrow-bottom-bg.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
        }

        .plus-sign {
          margin: 0 7px;
          color: #fff;
          font-weight: normal;
          font-size: 10px;
          font-family: Arial-BoldMT, Arial, sans-serif;
        }
      }
    }
  }
}
