.wrap {
  padding: 12px !important;

  .iconLabel {
    display: flex;
    align-items: center;

    .icon {
      display: block;
      width: 6px;
      height: 6px;
      margin-right: 10px;
      background: #3fb5d2;
      border: 1px solid #abdae5;
      border-radius: 1px;
    }
  }

  .subtitle {
    color: rgba(255, 255, 255, 0.7);
  }

  .btnTestReturnValue {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.25);

    &:hover {
      color: #fff;
    }
  }

  :global {
    .ant-form-item-control-input-content {
      height: 100%;
    }
  }
}

.dataShowTooltip {
  width: 334px !important;
  max-width: max-content !important;
}
