.rightWrap {
  padding: 24px 24px 24px 30px;
  // height: calc(100vh - 40px);
  // overflow-y: scroll;
  :global {
    .ant-form-item-label > label {
      color: #77d1d6 !important;
      font-weight: 400 !important;
      font-size: 14px !important;
      // font-family: PingFangSC-Regular, PingFang SC !important;
      line-height: 20px !important;
    }

    .ant-form-item-control-input-content > .ant-input[disabled] {
      color: #fff !important;
      background: #253d4c !important;
      border-radius: 4px !important;
    }

    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
      color: #fff !important;
      background: rgba(#0d2e3f, 0.6) !important;
      border: 1px solid #15869c !important;
      border-radius: 4px 4px 0 0 !important;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #fff !important;
    }

    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
      background: #007693 !important;
    }

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
      border-color: #1890ff !important;
    }

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      border-color: #1890ff !important;
    }

    .ant-radio-button-wrapper-checked:not(:first-child)::before {
      background-color: #1890ff !important;
    }

    .ant-table {
      background-color: #0d2e3f !important;
    }

    .ant-modal .ant-table.ant-table-bordered .ant-table-container {
      border: 1px solid #1a4b68 !important;
    }

    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th {
      border-right: 1px solid #1a4b68 !important;
    }

    .ant-table.ant-table-small thead > tr > th {
      background-color: #0d2e3f !important;
      border-bottom: 1px solid #1a4b68 !important;
    }

    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td {
      border-right: 1px solid #1a4b68 !important;
    }

    .ant-table tbody > tr > td {
      border-bottom: 1px solid #1a4b68 !important;
    }

    .ant-table tbody > tr.ant-table-row:hover > td {
      background-color: #0d2e3f !important;
    }
  }

  .table {
    margin-top: 16px;

    :global {
      .ant-table-tbody > tr.ant-table-placeholder:hover > td {
        background-color: none !important;
      }
    }
  }

  .line {
    background-color: silver;
  }

  .radioGroup {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
}
