.variableContainer {
  padding: 12px 23px 12px;
  color: rgba(255, 255, 255, 0.7);

  .variableValueRow {
    margin-top: 8px;

    .input {
      width: 196px;
    }
  }
}

.search {
  :global {
    .ant-input-group-addon {
      height: 23.6px;

      > button {
        height: 23.6px;
      }
    }
  }
}
