.topContainer {
  background: #161820;
  border-bottom: 1px solid #0e1014;
  border-radius: 1px;

  .appMenuTitle {
    height: 32px;
    padding: 7px 0 7px 10px;
    color: #00e2ff;
    font-size: 14px;
    // font-family: MicrosoftYaHei;
    line-height: 18px;
    text-align: left;
    background: rgba(#fff, 0.06);
    // img {
    //   cursor: pointer;
    //   transition: 0.2s;

    //   &:hover {
    //     transform: scale(1.2);
    //   }
    // }
  }

  .searchContainer {
    height: 40px;
    padding: 6px;
    background: #161820;

    .searchInput {
      background: #03050a;
      border: 1px solid #383a41;
      border-radius: 4px;

      :global {
        .ant-input-affix-wrapper {
          border: none;
        }

        .ant-input-group-addon > .ant-input-search-button {
          color: #00e2ff !important;
          background: transparent;
          border: none;
        }
      }
    }
  }
}

.appMenuTabs {
  .ant-tabs .ant-tabs-tab {
    .ant-tabs-tab-btn {
      color: gray;
    }

    &.ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: #fff;
      }
    }
  }
}

:global {
  .reference-map {
    position: absolute;
    left: 0;
    height: 100%;
    border-left: 2px solid #41f68b;

    img {
      width: 14px !important;
      height: 14px !important;
      margin-top: 24px !important;
      margin-left: 5px !important;
      background: transparent !important;
    }
  }
}
