// .Collapse {
//   :global {
//     .anticon {
//     }
//   }
// }
.mapComp {
  padding: 17px 23px 0;
  color: rgba(255, 255, 255, 0.7);

  .label {
    line-height: 29px;
  }

  .unitText {
    margin-left: 4px;
    color: #fff;
  }

  .compSelect {
    width: 196px !important;
  }
}

.startContainer {
  padding: 17px 23px 0;
  color: rgba(255, 255, 255, 0.7);

  .label {
    line-height: 29px;
  }

  .unitText {
    margin-left: 4px;
    color: #fff;
  }

  .startInput {
    width: 72px !important;
    border: none;
  }
}

.animateStep {
  & > * {
    &:nth-child(1) {
      align-items: center !important;
      padding-left: 22px !important;
      background: transparent !important;
    }
  }
}

.stepAddBtn {
  padding: 10px 0 8px;
  text-align: center;
}

.animateStepHeader {
  display: flex;
  padding-left: 0;
  color: rgba(255, 255, 255, 0.7);

  .leftTitle {
    flex: 1;
  }
}

.headerOperation {
  float: right;
  margin-right: 8px;
}
