.dataShowTooltip {
  width: 334px !important;
  max-width: max-content !important;
}

.buttonBox {
  :global {
    .ant-btn-default {
      color: #fff;
      font-size: 14px;
      font-family: MicrosoftYaHei, sans-serif;
      background: #05141e;
      border: 1px solid #1a4b68;
      border-radius: 4px;

      &:hover {
        color: #fff;
        background: #007693;
        border-color: #007693;
      }
    }
  }
}
