.conditionContainer {
  padding: 12px 23px 12px;
  color: rgba(255, 255, 255, 0.7);

  .conditionRow {
    margin-top: 8px;

    .conditionBtn {
      width: 100%;
      height: 26px;
      color: #fff;
      background: rgba(20, 81, 122, 0.5);
      border: 1px solid rgba(26, 114, 166, 1);
      border-radius: 1px;

      > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .successIcon {
        position: absolute;
        top: 4px;
        right: 10px;
        width: 16px;
        height: 16px;
      }

      &.success {
        border: 1px solid #4bd49a;
      }
    }
  }
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
