.indicatorPane {
  display: flex;
  height: 100%;
  //   background: #001427;
  //   padding: 10px;
  // :global {
  //   // 判断屏幕高度
  //   @media screen and (max-height: 1560px) {
  //     // 样式代码
  //     .ant-picker-panel .ant-picker-footer {
  //       margin-bottom: 32px;
  //     }
  //   }
  // }
  .card {
    background: #06273a;
    border: 1px solid #1a4b68;
  }

  .left {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100%;

    .title {
      height: 42px;
      padding: 0 14px;
      color: #04bad2;
      font-size: 16px;
      line-height: 42px;
      border-bottom: 1px solid #1a4b68;
    }

    .search {
      padding: 10px;

      .searchInput {
        height: 28px;
        border-radius: 4px;
      }
    }

    .tree {
      flex: 1;
      padding: 0 10px 10px 10px;
      // overflow: auto;
      :global {
        .ant-tree {
          background: transparent;
        }

        .ant-tree-node-content-wrapper:hover,
        .ant-tree-node-content-wrapper-normal:hover {
          background: rgba(#023b50, 1);
        }

        .ant-tree-node-content-wrapper.ant-tree-node-selected {
          background-color: rgba(#023b50, 0.8);
        }

        .ant-tree-treenode {
          display: flex;
          width: 100%;
          padding: 0 0 6px;

          .ant-tree-node-content-wrapper {
            flex: 1 1;
            overflow: hidden;
            color: #fff;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .middle {
    flex: 1;
    height: 100%;
    margin: 0 16px;
    // padding: 9px 16px;
    .scrollContainer {
      padding: 9px 16px;
    }

    .title {
      height: 24px;
      margin-bottom: 9px;
      color: #04bad2;
      font-size: 16px;
      line-height: 24px;

      &:not(:first-child) {
        margin-top: 24px;
      }

      &.expandable {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          display: inline-block;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }
    }
  }

  .right {
    width: 340px;
    height: 100%;
    padding: 9px 14px;

    .title {
      height: 24px;
      margin-bottom: 12px;
      color: #04bad2;
      font-size: 16px;
      line-height: 24px;
    }
  }

  table {
    width: 100%;
    background: #03121c;
    border: 1px solid #1a4b68;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #1a4b68;
    }

    th {
      padding: 8px 12px;
      color: #77d1d6;
      font-weight: 400;
      font-size: 14px;
    }

    td {
      padding: 12px;
      color: #fff;
      font-weight: 400;
      font-size: 14px;
    }

    .operation {
      width: 60px;
      text-align: center;
    }
  }
}
