.modalDataSwitch {
  .field {
    align-items: unset;
    margin-top: 12px;
    margin-bottom: 12px;

    .col {
      padding-left: 10px;
      line-height: 36px;
      background: #1c2026;

      :global {
        .ant-btn {
          height: 26px;
        }
      }
    }
  }
}
