:global {
  .log_assist {
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 10000;

    .log_headBar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 15px;
      background-color: #001427;

      .log_closeBtn {
        float: right;

        &:hover {
          color: #3fb5d2;
        }
      }
    }

    .logHeader {
      background: #3fb5d2;
      border: 1px solid #0c3147;
    }

    .log_logContainer {
      width: 100%;
      height: calc(100% - 60px);
      padding: 8px 6px;
      background: #1e1e1e;

      & > div {
        height: 100%;
        overflow: scroll;
      }
    }

    .log_time {
      display: inline-block;
      width: 130px;
      height: 24px;
      margin-right: 12px;
      color: #9cdcfe;
      line-height: 24px;

      .log_nub {
        display: inline-block;
        width: 26px;
        margin-right: 8px;
        color: rgb(109, 156, 190);
        border-right: 1px solid #bebebe;
      }
    }

    .log_rightInfo {
      display: inline-block;
      width: 72%;
    }

    .log_action {
      color: #3dc9b0;
    }

    .log_el {
      color: #3fb5d2;
    }

    .log_variable {
      margin: 0 6px;
      color: #569cd6;
    }

    // .log_result {
    // }
  }

  .log_dataShow {
    overflow-y: scroll;
  }

  .log_cardStyle {
    z-index: 999999;
    width: 450px;
    max-width: 450px;
    min-height: 80px;
    max-height: 500px;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 1);
  }

  .infoLine {
    .invalid {
      color: yellow;
    }

    .error {
      color: red;
    }

    .success {
      color: yellowgreen;
    }
  }

  .log_logContainer {
    .ant-tree-node-content-wrapper:hover {
      color: #3fb5d2;
      background-color: #03050a !important;
    }

    .ant-tree-node-content-wrapper.ant-tree-node-selected {
      color: #3fb5d2;
      background-color: #03050a !important;
    }
  }

  .react-resizable-handle.react-resizable-handle-se {
    position: absolute;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 0 3px 3px 0;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
    background-color: #3fb5d2;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-origin: content-box;
    cursor: se-resize;
  }
}
