.mapComp {
  padding: 17px 23px 0;
  color: rgba(255, 255, 255, 0.7);

  .label {
    line-height: 29px;
  }

  .unitText {
    margin-left: 4px;
    color: #fff;
  }
}

.compTree {
  width: 100%;
}

.animteRow {
  height: 34px;
  padding: 0 23px;
  color: rgba(255, 255, 255, 0.7);

  .label {
    line-height: 26px !important;
  }

  .flexCol {
    display: flex !important;
    align-items: center;
  }

  .fullCol {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .unitInput {
      width: 140px;
      margin-right: 8px;
    }
  }

  .unitText {
    display: inline;
    flex: 0 0 auto;
    margin-left: 4px;
    color: #fff;
    line-height: 34px;
  }

  .inputSelect {
    width: 100%;
    margin: auto !important;
  }

  .halfInputSelect {
    flex: 0 0 85px;
    max-width: 85px;
    margin: auto !important;
  }

  .smallHalfInputSelect {
    flex: 0 0 70px;
    max-width: 70px;
    margin: auto !important;
  }

  .inputNumber {
    flex: 0 0 70px;
    margin: auto 4px auto 4px !important;
  }

  .colDouble {
    display: flex;
    margin-left: 4px;

    .colInput {
      flex: 0 0 45%;
      max-width: 45%;
      margin-right: 5%;
    }
  }
}

.effectSelect {
  width: 100%;

  > label {
    width: 33.3%;
    text-align: center;
  }
}
