.wrap {
  height: calc(700px);
  //top: 44px;
  .tabPanel {
    display: flex;
    // width: 100vw;
    // height: calc(700px - 40px);
  }

  .leftWrap,
  .leftWrap1,
  .rightWrap {
    height: 660px;
    overflow-x: hidden; // 避免横向滚动
    overflow-y: auto;
    background: #161820;
    border-radius: 1px 0 1px 1px;
  }

  .leftWrap {
    width: 260px;
    margin-right: 10px;
  }

  .leftWrap1 {
    // width: 260px;
    margin-right: 10px;
  }

  .rightWrap {
    flex: 1;
  }

  :global {
    .ant-drawer-content {
      overflow-x: hidden;
      background: #000 !important;

      .ant-drawer-body {
        display: flex;
        padding: 1px 10px 0 0;
      }
    }
  }
}
