.jumpPageContainer {
  padding: 12px 23px 12px;
  color: rgba(255, 255, 255, 0.7);

  .jumpPageValueRow {
    margin-top: 8px;

    :global {
      .ant-select {
        width: 100%;
      }
    }
  }
}
