.collapse {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 5px;

    .leftName {
      color: #fff;
      font-weight: 400;
      font-size: 14px;
    }

    .rightIcon {
      width: 20px;
    }
  }
}
